<!-- banner -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <h1>welcome home</h1>
    <p>find a place and have an extraordinary experience</p>
    <div class="form-inline">
      <form action="#" method="get">
        <input type="place" class="form-control mb-2 mr-sm-2 mb-sm-0" id="place" placeholder="Where?"><br>
        <input type="date" class="form-control mb-2 mr-sm-2 mb-sm-0" id="date"  placeholder="When?"><br>
        <input type="submit" value="Search" class="btn btn-primary btn-lg">
      </form>
    </div>
  </div>
</div>

<!-- <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
     -->

<!-- cards -->
